In [6]:
import pandas as pd
import numpy as np
import re

In [7]:
df = pd.read_csv("/Users/aditya/Downloads/genres.csv")
df['id'],df['Genres'] = df['Genres'],df['id']
df.columns = ['genres', 'id']

In [8]:
df.head()

                               genres       id
0       YOUNG ADULT, MYSTERY, ROMANCE   630104
1                    FICTION, ROMANCE     9487
2                             FICTION  6050894
3  THRILLER, MYSTERY, HORROR, FICTION    39030
4                          NONFICTION      998

In [159]:
min_conf = 70
min_support = 4000

In [167]:
uniqueGenres=[]  # will give unique Genre in list.
for i in range(df.shape[0]):
    for j in range(df['genres'][i].count(',')+1):
        c = df['genres'][i].split(',')[j].strip()
        if c not in uniqueGenres:
            uniqueGenres.append(c)
print(uniqueGenres)

['YOUNG ADULT', 'MYSTERY', 'ROMANCE', 'FICTION', 'THRILLER', 'HORROR', 'NONFICTION', 'HISTORICAL', 'HUMOR', 'CHILDRENS', 'CLASSICS', 'FANTASY', 'SCIENCE FICTION', 'ADVENTURE', 'MYSTERY-CRIME', 'FANTASY-PARANORMAL', 'LITERATURE', 'BIOGRAPHY', 'NOVELS', 'ROMANCE-CONTEMPORARY ROMANCE']

# 3 functions in sequence

## 1

In [171]:
def countOccuranceOfGenre(df, a):
    try:
        df1 = df
        for i in range(0,len(a)):
            df1 = df1[df1['genres'].str.contains(a[i],flags=re.I,regex=True)]
            count = df1["genres"].count()
        return count, a
    except Exception as E:
        pass
#         print("from countOccuranceOfGenre : ",E)

In [32]:
countOccuranceOfGenre(df,('YOUNG ADULT', 'MYSTERY'))

(1071, ('YOUNG ADULT', 'MYSTERY'))

## 2

In [139]:
def elemination(df,min_support):
    print("Inside elemination")
    if(len(df) == 1):
        print("Length is 1")
        return df,False
    try:
        countgenres = len(df['genres'])
        print("df before")
        print(df)
        df = df[df['counts'] >= min_support]
        print("df after")
        print(df)
        if(len(df) == countgenres):
            continueFlag = False
        else:
            continueFlag = True
        return df,continueFlag
    except Exception as E:
        print("from elemination : ",E)

## 3

In [106]:
def combination(tempDF,noOfItemSet):
    print("inside combination")
    try:
        genres = []
        from itertools import combinations

        comb = combinations(tempDF['genres'],noOfItemSet)

        # Print the obtained combinations
        for i in list(comb):
    #         print (i)
            genres.append(i)

        return genres
        #     countOccuranceOfGenre(df, i)
    except Exception as E:
        print("from combination : ",E)

In [17]:
combination(df.head(),2)

[('YOUNG ADULT', 'MYSTERY'),
 ('YOUNG ADULT', 'ROMANCE'),
 ('YOUNG ADULT', 'FICTION'),
 ('MYSTERY', 'ROMANCE'),
 ('MYSTERY', 'FICTION'),
 ('ROMANCE', 'FICTION')]

In [18]:
df[1:2]

             genres    id
1  FICTION, ROMANCE  9487

## Calling all 3 functions

In [10]:
def algo():
    pass

46454

# Main Function

In [172]:
UniqueGenres=[]  # will give unique Genre in list.
for i in range(df.shape[0]):
    for j in range(df['genres'][i].count(',')+1):
        c = df['genres'][i].split(',')[j].strip()
        if c not in UniqueGenres:
            UniqueGenres.append(c)
# print("UniqueGenres : ",UniqueGenres)
continueFlag = True
counter = 1
Data = []
uniqueGenres = []
countGenres = []
prevDF = ""
for genres in UniqueGenres:
    count,genre = countOccuranceOfGenre(df,genres)
    countGenres.append(count)
    uniqueGenres.append(genre)
d = {'genres': uniqueGenres, 'counts': countGenres}
tempDF1 = pd.DataFrame(data = d)    
    
def countEleminateCombine(df,tempDF,counter): 
    global prevDF,Data
    print("************************")
    uniqueGenres = []
    countGenres = []
    counter +=1
    tempDF1 = tempDF

    #     created dataframe --step 1
    """Elemination round"""
    if(not tempDF1.empty):
        tempDF2,continueFlag = elemination(tempDF1,min_support)
        print("Length of tempDF2: ",len(tempDF2))
        if(len(tempDF2) > 0):
            Data.append(tempDF2)

        if(continueFlag == False):
            print("Final Output :",tempDF2)
            return tempDF2
        """Combination + count """
        genres = combination(tempDF2,counter)
    #     print("genres",genres)
        # calling countOccuranceOfGenre on genres
        print("inside countOccuranceOfGenre")

        for genre in genres:
    #         print("genre : ",genre)
    #         print("---",countOccuranceOfGenre(df,genre))
            data = countOccuranceOfGenre(df,genre)
            if(data!= None):
                count,genre = data
                countGenres.append(count)
                uniqueGenres.append(genre)
        d = {'genres': uniqueGenres, 'counts': countGenres}
        tempDF3 = pd.DataFrame(data = d)
    #     print("tempDF3 : ",tempDF3)

        """Finish """
        print(counter)
    #     print("After Cobination and count : ",tempDF3)

        countEleminateCombine(df,tempDF3,counter)

countEleminateCombine(df,tempDF1,counter)

************************
Inside elemination
df before
                          genres  counts
0                    YOUNG ADULT    9520
1                        MYSTERY   10732
2                        ROMANCE   14829
3                        FICTION   34321
4                       THRILLER    8892
5                         HORROR   14844
6                     NONFICTION   34321
7                     HISTORICAL    7805
8                          HUMOR    3580
9                      CHILDRENS    4642
10                      CLASSICS   14810
11                       FANTASY   16277
12               SCIENCE FICTION   15950
13                     ADVENTURE    2693
14                 MYSTERY-CRIME    3463
15            FANTASY-PARANORMAL    4688
16                    LITERATURE    7188
17                     BIOGRAPHY    2469
18                        NOVELS    4358
19  ROMANCE-CONTEMPORARY ROMANCE    5707
df after
                          genres  counts
0                    YOUNG ADULT    9520
1                        MYSTERY   10732
2                        ROMANCE   14829
3                        FICTION   34321
4                       THRILLER    8892
5                         HORROR   14844
6                     NONFICTION   34321
7                     HISTORICAL    7805
9                      CHILDRENS    4642
10                      CLASSICS   14810
11                       FANTASY   16277
12               SCIENCE FICTION   15950
15            FANTASY-PARANORMAL    4688
16                    LITERATURE    7188
18                        NOVELS    4358
19  ROMANCE-CONTEMPORARY ROMANCE    5707
Length of tempDF2:  16
inside combination
inside countOccuranceOfGenre
2
************************
Inside elemination
df before
                                                genres  counts
0                               (YOUNG ADULT, MYSTERY)    1071
1                               (YOUNG ADULT, ROMANCE)    3676
2                               (YOUNG ADULT, FICTION)    5636
3                              (YOUNG ADULT, THRILLER)     287
4                                (YOUNG ADULT, HORROR)     475
..                                                 ...     ...
115                       (FANTASY-PARANORMAL, NOVELS)      22
116  (FANTASY-PARANORMAL, ROMANCE-CONTEMPORARY ROMA...      53
117                               (LITERATURE, NOVELS)     900
118         (LITERATURE, ROMANCE-CONTEMPORARY ROMANCE)       1
119             (NOVELS, ROMANCE-CONTEMPORARY ROMANCE)      25

[120 rows x 2 columns]
df after
                            genres  counts
2           (YOUNG ADULT, FICTION)    5636
9           (YOUNG ADULT, FANTASY)    5145
16              (MYSTERY, FICTION)    4932
29              (ROMANCE, FICTION)    5094
36              (ROMANCE, FANTASY)    4390
44           (FICTION, NONFICTION)    8175
47             (FICTION, CLASSICS)    4460
48              (FICTION, FANTASY)    7682
49      (FICTION, SCIENCE FICTION)    4018
106  (FANTASY, FANTASY-PARANORMAL)    4626
Length of tempDF2:  10
inside combination
inside countOccuranceOfGenre
3
************************

# Your Output.
## (YOUNG ADULT, FICTION) => make it key and value pair : {'YOUNG ADULT':'FICTION'}

In [169]:
Data[-1]

                            genres  counts
2           (YOUNG ADULT, FICTION)    5636
9           (YOUNG ADULT, FANTASY)    5145
16              (MYSTERY, FICTION)    4932
29              (ROMANCE, FICTION)    5094
36              (ROMANCE, FANTASY)    4390
44           (FICTION, NONFICTION)    8175
47             (FICTION, CLASSICS)    4460
48              (FICTION, FANTASY)    7682
49      (FICTION, SCIENCE FICTION)    4018
106  (FANTASY, FANTASY-PARANORMAL)    4626